@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Inter', 'Geist Sans', 'sans-serif';
  --font-mono: 'Geist Mono', 'monospace';
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #ffffff;
  --foreground: #191919;
  --card: #ffffff;
  --card-foreground: #191919;
  --popover: #ffffff;
  --popover-foreground: #191919;
  --primary: #191919;
  --primary-foreground: #ffffff;
  --secondary: #f7f7f5;
  --secondary-foreground: #191919;
  --muted: #f7f7f5;
  --muted-foreground: #787774;
  --accent: #2383e2;
  --accent-foreground: #ffffff;
  --destructive: #e03e3e;
  --destructive-foreground: #ffffff;
  --border: #e9e9e7;
  --input: #e9e9e7;
  --ring: #191919;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-[#e9e9e7] outline-zinc-900/50;
  }
  body {
    @apply bg-white text-zinc-900;
  }
  html {
    @apply font-sans;
  }
}
